/*Hero Section*/
.jumbotron {
  background: url(../media/hero-images/community-hero.jpg) no-repeat center center;
  background-size: cover;
}

/* Trending Communities */
.trending-communities h2,
.trending-communities h5 {
  color: #79b473;
}

.trending-communities .card {
  height: 400px;
}

.trending-communities img {
  object-fit: cover;
  height: 220px;
}

.trending-communities a {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: #79b473;
}

.trending-communities p {
  display: inline;
}

.trending-communities .card-footer {
  height: 70px;
}

.trending-communities .row {
  height: 100%;
}

/* Communities Info Section */
#communities-info-or {
  color: #79b473;
}

/* Media Queries */
@media only screen and (max-width: 992px) {
  .communities-info h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .communities-info h3 {
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 576px) {
  .communities-info h3 {
    font-size: 1rem;
  }
}
