body {
  overflow-x: hidden;
}

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h2 span {
  font-family: "Noto Sans";
  font-weight: regular;
}

.nav {
  background-color: white;
  z-index: 1;
}

/* nav link hover animtation */
.navbar-left .navbar-nav .nav-animation {
  position: relative;
  letter-spacing: none;
  z-index: 1;
  transition: letter-spacing 0.7s;
}

.navbar-left .navbar-nav .nav-animation:hover {
  position: relative;
  letter-spacing: 2px;
}

.navbar-left .navbar-nav .nav-animation::after {
  content: ".";
  color: transparent;
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #79b473;
  transform-origin: bottom right;
  transition: all 0.25s;
}

.navbar-left .navbar-nav .nav-animation:hover::after {
  width: 100%;
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*Nav bar active CSS*/
.active {
  position: relative;
  color: #79b473 !important;
  font-size: 1.05rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
  background-color: #79b473;
}

/* Flex navbar to fix buttons to the right */
.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Changing nav button background and padding */
.nav-btn {
  background-color: transparent;
  border: 1px solid #79b473;
  color: #79b473;
  padding: 8px 12px !important;
  transition: all 0.4s;
}

.nav-btn:hover, .nav-btn:focus {
  border: 3px solid #79b473;
  color: #79b473;
  box-shadow: 0 0.5em 0.5em -0.4em #79b473;
  transform: translateY(-0.25em);
}

/* Hamburger menu css changes */
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(121, 180, 115, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-light .navbar-toggler {
  color: #79b473;
}

/* Jumbotron / Hero section */
.jumbotron {
  background-color: rgba(0, 0, 0, 0.3);
}

.home-hero-text h2 {
  letter-spacing: 2px;
}

.hero-text-highlight {
  color: #79b473;
}

/* Parallax Video Section */
.video-section {
  position: relative;
  padding: 0;
}

.parallax-video {
  width: 100%;
  max-height: 800px;
}

.parallax-video video {
  top: 60px;
  width: 130%;
  position: fixed;
  z-index: -999;
  object-fit: inherit;
}

/* Main Section Content */
.main-content-section {
  position: relative;
  top: 0;
}

.main-content-section img {
  width: 100%;
}

/* app-link section - recipe/shopping page */
.app-link-content h2 {
  color: #79b473;
}

/* Footer */
footer {
  border-top: 1px solid #79b473;
}

footer a {
  color: #79b473;
}

footer a:hover {
  color: rgba(0, 0, 0, 0.5);
}

svg {
  margin-right: 10px;
  margin-bottom: 2px;
  color: #79b473;
}

svg:hover {
  color: rgba(0, 0, 0, 0.5);
}

/* Modal Window */
#loginModal {
  top: 15%;
}

#signUpModal {
  top: 5%;
}

#loginBtn,
#signUpBtn {
  background-color: #79b473;
}

#form-btns {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

#signUpLink {
  color: #79b473;
  cursor: pointer;
}

.modal-header {
  border-bottom: 1px solid #79b473;
}

.modal-header img {
  width: 45%;
  margin-right: 10px;
}

.modal-body .form-row input:focus {
  border-color: #79b473;
  box-shadow: 0 0 0 0.1rem #79b473;
}

.modal-body .form-row input[type="checkbox"]:checked {
  background-color: #79b473;
}

.cancelBtn {
  margin-right: 5px;
}

.modal-footer {
  border-top: 1px solid #79b473;
}

#google-btn,
#apple-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}

#google-btn p,
#apple-btn p {
  font-size: 0.9rem;
  margin: 0;
  padding: 0 10px;
}

#apple-btn {
  background-color: black;
  border: none;
}

.errorMsg {
  font-size: 0.9rem;
  color: red;
}

/* Back to top button */
#btn-back-to-top {
  position: fixed;
  font-size: 1rem;
  border: 2px solid #79b473;
  color: #79b473;
  bottom: 50px;
  right: 20px;
  display: none;
}

/* Lazy Load Animation */
.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(-100%);
}

.from-right {
  transform: translateX(100%);
}

.from-left,
.from-right {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

/* MEDIA QUERYs */
@media only screen and (max-width: 992px) {
  /* Parallax Video Section */
  .parallax-video video {
    left: -50%;
    width: 200%;
  }
}

@media only screen and (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    margin-top: 20px;
  }
  /* Keeps Animation from extending beyond text */
  .navbar-left .navbar-nav .nav-link {
    display: inline-block;
    padding: 10px 0;
  }
  /* Adjust nav buttons locations */
  .navbar-right .navbar-nav {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }
  .navbar-right a {
    padding: 8px 12px !important;
  }
  /* Parallax Video Section */
  .parallax-video {
    max-height: 300px;
  }
  .parallax-video video {
    left: -75%;
    width: 270%;
  }
  /* main content image resize and centered */
  .img-container {
    display: flex;
    justify-content: center;
  }
  .main-content-section img {
    width: 40%;
  }
}

@media only screen and (max-width: 576px) {
  /* Parallax Video Section */
  .parallax-video video {
    left: -125%;
    width: 350%;
  }
}
