/* Jumbotron hero CSS */
.hero {
  background: url(../media/hero-images/shopping-hero.jpg) no-repeat center center;
  background-size: cover;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.2);
}

.jumbotron span {
  color: #79b473;
}

/* Shopping List Feature Section */
.shopping-feature video {
  width: 275px;
  margin: 0 auto;
}

.shopping-feature .col-img {
  padding: 0;
}

.shopping-feature h4 {
  display: inline;
}

.shopping-feature span {
  color: #79b473;
}

.shopping-feature img {
  object-fit: cover;
}

.shopping-feature ul {
  padding-left: 0;
}

.shopping-feature li {
  list-style: none;
  margin: 20px 0px;
}

/* Media Queries*/
@media only screen and (max-width: 768px) {
  h4 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 576px) {
  h4 {
    font-size: 1rem;
  }
}
