/* Jumbotron hero CSS */
.jumbotron {
  background: url(../media/hero-images/recipe-hero.jpg) no-repeat center center;
  background-size: cover;
}

/* Featured Recipes Section */
.featured-recipes h2,
.featured-recipes h5 {
  letter-spacing: 2px;
  color: #79b473;
}

.featured-recipes .card {
  position: relative;
  height: 480px;
  border-radius: 10px;
}

.featured-recipes img {
  height: 300px;
  object-fit: cover;
  border: 3px solid transparent;
  border-radius: 10px 10px 0 0;
}

.featured-recipes a {
  position: absolute;
  width: 90%;
  bottom: 5px;
  background-color: none;
  color: #79b473;
  letter-spacing: 0;
}

.featured-recipes a:hover {
  letter-spacing: 4px;
  color: #79b473;
  transition: all 400ms ease-in-out;
}

.featured-recipes a:before, .featured-recipes a:after {
  backface-visibility: hidden;
  border: 1px solid #79b473;
  bottom: 0px;
  content: "";
  display: block;
  margin: 5px auto;
  position: relative;
  transition: all 400ms ease-in-out;
  width: 0;
}

.featured-recipes a:hover:before, .featured-recipes a:hover:after {
  backface-visibility: hidden;
  border-color: #79b473;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.featured-recipes a:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

/* Recipe App/Link Section */
.app-link-content h2 {
  color: #79b473;
}

/* Accordion CSS */
.accordion-section {
  background-color: #79b473;
}

.accordion-section .card-header[aria-expanded="true"] {
  background: #79b473;
  color: white;
}

.accordion-section .card-header[aria-expanded="false"] {
  background: #f8f9fa;
  color: black;
}

.accordion-section .card a {
  text-decoration: none;
  color: #79b473;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  /* Featured Recipe section */
  .featured-recipes .card {
    height: 420px;
  }
  .featured-recipes img {
    height: 225px;
  }
}

@media only screen and (max-width: 992px) {
  /* Featured Recipe section */
  .featured-recipes .card {
    height: 440px;
  }
  .featured-recipes img {
    height: 250px;
  }
  /* Macro Section */
  .macro h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  /* Featured Recipe section */
  .featured-recipes .card {
    height: 440px;
  }
  .featured-recipes img {
    height: 200px;
  }
  /* Macro Section */
  .macro h2 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 576px) {
  /* Featured Recipe section */
  .featured-recipes .card {
    height: 380px;
  }
  /* Macro Section */
  .macro h2 {
    font-size: 1.1rem;
  }
}
