:root {
  --main-color: #79b473;
}

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h2 span {
  font-family: "Noto Serif";
  /* font-style: italic; */
  font-weight: regular;
}

.nav {
  background-color: white;
  z-index: 1;
}

/* nav link hover animtation */
.navbar-left .navbar-nav .nav-animation {
  position: relative;
}

.navbar-left .navbar-nav .nav-animation::after {
  content: ".";
  color: transparent;
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--main-color);
  transform-origin: bottom right;
  transition: all 0.25s;
}

.navbar-left .navbar-nav .nav-animation:hover:after {
  width: 100%;
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*Nav bar active CSS*/
.active {
  position: relative;
  color: var(--main-color);
  font-weight: bold;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
  background-color: var(--main-color);
}

/* Flex navbar to fix buttons to the right */
.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Changing nav button background and padding */
.nav-btn {
  background-color: var(--main-color);
}

.navbar-right a {
  padding: 8px 12px !important;
}

/* Hamburger menu css changes */
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(121, 180, 115, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-light .navbar-toggler {
  color: var(--main-color);
}

/* Jumbotron / Hero section */

.hero-text-highlight {
  color: var(--main-color);
}

/* Parallax Video Section */
.video-section {
  position: relative;
  padding: 0;
}
.parallax-video {
  width: 100%;
  height: 600px;
}
.parallax-video video {
  top: 70px;
  left: -20%;
  width: 150%;
  position: fixed;
  z-index: -999;
}

/* Main Section Content */

.main-content-section {
  position: relative;
  top: 0;
}

/* MEDIA QUERYs */

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
  /* Parallax Video Section */
  .parallax-video {
    height: 450px;
  }
  .parallax-video video {
    top: 70px;
    left: -50%;
    width: 200%;
  }
}

@media only screen and (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    margin-top: 20px;
  }

  /* Keeps Animation from extending beyond text */
  .navbar-left .navbar-nav .nav-link {
    display: inline-block;
    padding: 10px 0;
  }

  /* Adjust nav buttons locations */
  .navbar-right .navbar-nav {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    margin-top: -40px;
  }

  .navbar-right a {
    padding: 8px 12px !important;
  }
  /* Parallax Video Section */
  .parallax-video {
    height: 250px;
  }
  .parallax-video video {
    top: 80px;
  }
}
@media only screen and (max-width: 576px) {
  /* Parallax Video Section */
  .parallax-video {
    height: 250px;
  }
  .parallax-video video {
    top: 70px;
    left: -125%;
    width: 350%;
  }
}
